@charset "utf-8";
/* CSS Document */
/* ===== Global styles ===== */
body {
	font-family:Verdana, Geneva, sans-serif;
	background-color:#FFF;
	margin:0;
	padding:0;
}
p, h1, h2, h3, h4, li {
	margin: 0.40em 0.50em;
}
h1{
	font-size:1.50em;
	color:#FFF;
}
h2{
	font-size:14px;
	color:#333;
}
h3{
	font-size:10px;
}
h4 {
	font-size:12px;
	color:#999;
}
h5{
	font-size:14px;
	color: #FF007F;
}
div#principal{
	width: 100%;
	height:100%;
	margin: 0 auto;
}
/* ===== mainContent ===== */
#principal #mainContent{
	position:relative;
	width:100%;
	top:183px;
	min-width:1254px;
}
/* --left section of the screen -- */
.genericBlueButton a:link, a:visited {
	position:relative;
	text-decoration:none;
	font-weight:bold;
	padding:3px 5px;
	background:url(../images/bugen.png) no-repeat left bottom;
	color:#FFF;
	border:solid thin #3079ED;
	border-radius:5px;
	-moz-border-radius:5px;
}
.genericBlueButton a:hover, a:active{
	background-position:left top;
}

#mainMenu li a.current {
	margin-bottom:5px;
	height:27px;
	background:url(../images/current.png) no-repeat;
	color:#FFF;
	line-height:200%;
	font-weight: bold;
	border:solid thin #999;
	border-radius:0 0 5px 5px;
	-moz-border-radius:5px;	
}