<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cases Monitor</title>
<link href="../css/profile.css" rel="stylesheet" type="text/css" />
<link href="../lib/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
<script src="../lib/js/jquery-1.6.2.min.js" type="text/javascript"></script> 
<script src="../lib/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script> 
			
</head>
<!-- ------------Body------------ -->
<body>
<div id="principal">
    <!---------------------------------->	
   	    <div id="header">
        	<div id="titulo">
        		<h1> Your brand </h1>
            </div> <!-- titulo -->
          <div id="info">
              <h4> Username / ServerTime</h4>
          </div><!-- info -->
        </div><!-- header -->
     <!---------------------------------->
 		<div id="menus">
    		<div id="leftMenu">
            </div><!-- leftMenu -->
    		<div id="formulario">
            	<b> </b>
                <b> </b>
                <b><img src="../images/profile.png" width="41" height="50" /> </b>
            	<h1><b> My Profile information</b></h1>
                <h4><b> (Schedule and personal information)</b></h4>
    		</div><!-- formulario -->
            <div id="rightTop">
           	  <div id="mainMenu">
                	<ul>
                    	<li><a href="index.html">Cases Monitor</a></li>
                        <li><a href="profile.html" class="current">My Profile</a></li>
                        <li><a href="../er.html">Submit an ER</a></li>
                        <li><a href="../out.html">Sign Out</a></li>
                    </ul>
                </div><!-- mainMenu -->
              <div id="news">
               	  <div id="titulo"><b>QM on Duty:</b></div>
                  <div id="valor"><b>Fulano</b></div>
              </div><!-- news -->
            </div><!-- rightTop -->
  		</div> <!-- Menus -->
     <!---------------------------------->  
     <div id="mainContent">
       <div id="engineers">
       	  <div id="name"><h1>Engineer_name</h1></div>
          <div id="formul">
          	<form action="" method="get">
                <div id="displayNameT">Name to Display:</div>
                <div id="displayName"><input name="Name" type="text" value="" size="30" /></div> 
                <div id="displayMailT">e-mail:</div>
                <div id="displayMail"><input name="Mail" type="text" value="" size="30" /></div> 
                <div id="displayPhoneT">Phone #:</div>
                <div id="displayPhone"><input name="Phone" type="text" value="" /></div>  
                <div id="displayBdayT">Birthday:</div>
                <div id="displayBday"><input name="Bday" type="text" value="" /></div>  
                <div id="displayStatusT">Status:</div>
                <div id="displayStatus"><b>Working</b></div>
              <div id="boton"><input name="Save" type="button" value="Save" /></div> 
            </form> 
         </div><!-- formul -->	
         <div id="info"><b>Next Schedule entry:</b> 11/11/11 From: 10:30  To 11:00</div>	  
       </div><!-- engineers -->
        <div id="graphs">
        	<div id="schedule">
            <form action="" method="get">
            	<div id="titulos">
                	<div id="weekDay"></div>
                    <div id="in">In</div>
                    <div id="lunchIn">Lunch in</div>
                    <div id="lunchOut">Lunch out</div>
                    <div id="out">Out</div>
                </div>  
                <div id="domingo">
                	<div id="weekDay">Sunday</div>
                    <div id="in"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- domingo -->
               <div id="lunes">
                	<div id="weekDay">Monday</div><div id="in">
                   <select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select>
                    </div><div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- Lunes -->    
                <div id="martes">
                	<div id="weekDay">Tursday</div><div id="in"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select>
                    </div><div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select>
                    </div><div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select>
                    </div><div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- Martes -->      
                <div id="miercoles">
                	<div id="weekDay">Wednesday</div><div id="in"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- miercoles -->
                <div id="jueves">
                	<div id="weekDay">Thursday</div>
                    <div id="in"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- Jueves -->
                <div id="viernes">
                	<div id="weekDay">Friday</div>
                    <div id="in"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- viernes -->
                <div id="sabado">
                	<div id="weekDay">Saturday</div>
                    <div id="in"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="out"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchIn"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                    <div id="lunchOut"><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                </div> <!-- sabado -->
                
            </form>	
        	</div><!-- schedule -->
            <div id="exception">
            <form action="" method="get">
            	<div id="excTitle"><h1>Schedule Exceptions</h1></div>
				<script>
					$(function() {
						$( "#datepicker" ).datepicker();
					});
                </script>
                <div id="tipo2"><b> Type: </b>
                  <select name="tipo">
                  <option value="vacations">Vacations</option>
                  <option value="sick">Sick</option>
                  <option value="drapp">Dr Apointment</option>
                </select></div>
                
                <div id="fecha" class="demo">
                	<p><b>Date:</b> <input type="text" id="datepicker"></p>
                </div><!-- End demo -->
				<div id="timeFrom"><b>From: </b><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                <div id="timeTo"><b>To: </b><select name="inh">
                	  <option value="00">00</option>
                	  <option value="01">01</option>
                	  <option value="02">02</option>
                	  <option value="03">03</option>
                	  <option value="04">04</option>
                	  <option value="05">05</option>
                	  <option value="06">06</option>
                	  <option value="07">07</option>
                	  <option value="08">08</option>
                	  <option value="09">09</option>
                	  <option value="10">10</option>
                	  <option value="11">11</option>
                	  <option value="12">12</option>
                	  <option value="13">13</option>
                	  <option value="14">14</option>
                	  <option value="15">15</option>
                	  <option value="16">16</option>
                	  <option value="17">17</option>
                	  <option value="18">18</option>
                	  <option value="19">19</option>
                	  <option value="20">20</option>
                	  <option value="21">21</option>
                	  <option value="22">22</option>
                	  <option value="23">23</option>
                	</select>:<select name="inmin">
                	  <option value="00">00</option>
                	  <option value="15">15</option>
                	  <option value="30">30</option>
                	  <option value="45">45</option>
                	</select></div>
                <div id="timeAll"><b>All day: </b><input name="allDay" type="checkbox" value="" /></div>
                <div id="createExc"><input name="crear" type="button" value="Submit Exception" /></div>
            </form>	
        	</div><!-- exception -->
        </div><!-- graphs -->
     </div><!-- mainContent -->
     <!----------------------------------> 
	</div><!-- principal -->
</body>
<!-- ------------Body------------ -->
</html>
